{% extends "layouts/base.html" %}

{% block content %}
  {% if pagination.items.length %}
  <article class="[ post ]">
    <div class="[ flow ]">
      <h1>{{ title }}</h1>
      <ul>
        {% for record in pagination.items %}
        <li>
          {{ record.basic_information.title }} - {{ record.basic_information.artists[0].name }} <a href="https://www.discogs.com/it/release/{{ record.id }}">View On discogs.com</a>
        </li>
        {% endfor %}
      </ul>
      <nav aria-labelledby="records-pagination">
      <h2 id="records-pagination">Navigate records</h2>
      <ol>
        <li>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</li>
        <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
        {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
        {%- endfor %}
        <li>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
        <li>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</li>
      </ol>
    </nav>
    </div>
  </article>
  {% endif %}
{% endblock %}