{% extends "layouts/base.html" %}

{% block content %}
  <article class="[ post ]">
    <div class="[ flow ]">
      <h1>{{ title }}</h1>
      <a href="/setlists">Back to list</a>
      <ul>
      {% for set in setlist.sets.set %}
        {% if set.encore %}
        <li>
          Encore {{ set.encore }}
        </li>
        {% endif %}
        {% for song in set.song %}
        <li>
          {{ song.name }}
        </li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}